= simple_form_for(model, html: {novalidate: true}) do |f|
  = f.input :name, placeholder: "Name"
  %br
  = f.input :email, placeholder: "abc@gmail.com"
  %br
  = f.submit 'Submit'
  = link_to 'Back', users_path